<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Register</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/login2.css" />
    <link rel="icon" type="image/png" href="/images/feather_transparent3.png" />

    <style>
      .otp {
        font-size: 15px;
      }
    </style>
  </head>
  <body>
    <%-include("../partials/navbar.ejs") %>

    <div class="wrapper">
      <form action="/api/v1/users/forgot-password" method="POST">
        <h2>Forgot Password</h2>
        <% if (error) { %>
        <small class="error">
          <i class="fas fa-exclamation-circle"></i>
          <%= error %>
        </small>
        <% } %>

        <div class="input-field">
          <label for="email">Enter your verified email</label>
          <input type="email" name="email" required />
        </div>
        <!-- Hidden input to include the email -->
        <button type="submit">Click to receive OTP</button>
        <!-- Timer to show countdown -->
        <div id="timer" class="otp"></div>
      </form>
    </div>
    <%-include("../partials/footer.ejs") %>
  </body>
</html>
