<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/login2.css" />
    <link rel="icon" type="image/png" href="/images/feather_transparent3.png" />
  </head>
  <body>
    <%- include("../partials/navbar.ejs") %>

    <div class="wrapper">
      <form action="/api/v1/users/login" method="POST">
        <h2>Login</h2>
        <% if (error) { %>
        <small class="error">
          <i class="fas fa-exclamation-circle"></i>
          <%= error %>
        </small>
        <% } %>
        <div class="input-field">
          <label for="username">User Name *</label>
          <input type="text" name="username" id="usernameInput" required />
        </div>

        <div class="input-field">
          <label for="password">Enter your password *</label>
          <div class="show-button">
            <input
              type="password"
              name="password"
              id="passwordField"
              required
            />
            <button type="button" id="togglePassword">
              <i class="fa-solid fa-eye-slash" style="color: black"></i>
            </button>
          </div>
        </div>

        <span id="passwordMatch"></span>
        <button type="submit">Log In</button>
        <div class="register">
          <p>
            Don't have an account?
            <a href="/api/v1/users/register">Register</a>
          </p>
        </div>
      </form>
      <form action="/api/v1/users/forgot-password" method="GET">
        <div
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
          "
        >
          <h4 style="font-size: 14px; font-weight: 400">Forgot Password ?</h4>
          <button
            type="submit"
            style="
              height: 20px;
              text-align: center;
              padding: 2px 2px;
              font-size: 10px;
              margin-left: 3px;
            "
          >
            Click here
          </button>
        </div>
      </form>

      <button
        id="guestUser"
        type="button"
        style="
          height: 35px;
          text-align: center;
          padding: 6px 10px;
          font-size: 13px;
          margin-left: 3px;
          margin-top: 15px;
          font-weight: 400;
        "
      >
        Click Here for Guest User Login Details
      </button>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const passwordField = document.getElementById("passwordField");
        const togglePassword = document.getElementById("togglePassword");

        togglePassword.addEventListener("click", function () {
          const type =
            passwordField.getAttribute("type") === "password"
              ? "text"
              : "password";
          passwordField.setAttribute("type", type);
          // Change the Font Awesome icon based on the input type
          togglePassword.innerHTML =
            type === "password"
              ? '<i class="fas fa-eye-slash" style="color: black"></i>'
              : '<i class="fas fa-eye" style="color: black"></i>';
        });
      });

      const getGuestUserCre = () => {
        const usernameInput = document.getElementById("usernameInput");
        const passwordInput = document.getElementById("passwordField");
        usernameInput.value = "Guest User";
        passwordInput.value = "Guest@3333";
      };

      const button = document.getElementById("guestUser");
      button.onclick = getGuestUserCre;
    </script>
    <div class="foot"><%- include("../partials/footer.ejs") %></div>
  </body>
</html>
